<div>
    <div class="row" style="margin: 1rem 0;"">
        <div class="col-6 centrado_izq">
            <h2>Gestor de Archivos 3JA</h2>
        </div>
        <div class="col-6 centrado empresa_logo">
            <img src="/images/logo_3JA.png" alt="Logo 3JA">
        </div>
    </div>
    
    <button id="executeButton" class="btn_custom_trja">Ejecutar</button>

    <div id="logOutput">
        <h3>Logs del Sistema:</h3>
        <div id="logsContainer" style="overflow-y: auto; max-height: 300px; border: 1px solid #ccc; padding: 10px;"></div>
    </div>
</div>

<% customScript = `<script src="/gestorMain.js"></script>` %>