<div>
    <h2>3JA</h2><br/>

    <div id="logOutput">
        <h3>Logs del Sistema:</h3>
        <div id="logsContainer" style="overflow-y: auto; max-height: 300px; border: 1px solid #ccc; padding: 10px;"></div>
    </div>
</div>